<% @title_single_line = (@title ? @title.gsub('<br/>', ' ') : '') 
@author_url ||= ('https://plus.google.com/+Consected')
%>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <meta name="title" content="<%=@title_single_line%>">
  <meta name="description" content="<%=@description%>">
  <meta name="author" content="<%=@author%>">	
	<meta name="keywords" content="<%=@keywords%>">
			
	<meta name = "format-detection" content = "telephone=no" />
	<meta itemprop="name" content="<%=@title_single_line %>">
	<meta itemprop="description" content="<%=@description%>">
	<meta name="twitter:card" content="summary_large_image">
  
  <meta name="twitter:image:src" content="<%= @image %> ">
	<meta name="twitter:site" content="@consected">
	<meta name="twitter:title" content="<%=@title_single_line %>">
	<meta name="twitter:description" content="<%=@description%>">
	<meta name="twitter:creator" content="@consected">  
  <meta property="twitter:account_id" content="76816072" />
  
	<meta property="og:title" content="<%=@title_single_line %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="<%= request.original_url %> " />
  <meta property="og:image" content="<%= @image %> "/>

	<meta property="og:description" content="<%= @description %> " />
	<meta property="og:site_name" content="Consected " />
	<meta property="article:published_time" content="<%= @created_at %> " />
	<meta property="article:modified_time" content="<%= @updated_at %> " />
	<meta property="fb:page_id" content="317298483416" />
  <link rel="author" href="<%=@author_url%>"/>
  <title><%= @title_single_line %></title>