<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/meta_tags' %>
	
  
  
  <link href='//fonts.googleapis.com/css?family=News+Cycle|Varela+Round|Ubuntu' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js" async></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=@layout ? @layout : 'regular-cover'%>">
  <div class="site-wrapper">
      <div class="masthead clearfix">
        <%= render partial: 'layouts/cookie_alert' %>
        <div id="navcontainer" class="inner">
          <h3 class="masthead-brand"><a href="/">Consected</a></h3>
          <%=render partial: 'layouts/navbar' %>
        </div>
      </div>

      <div class="site-wrapper-inner">

        <div class="cover-container">

          
          <div class="content">
          <%=yield %>
          </div>
          <%=render partial: 'layouts/footer'%>

        </div>

      </div>

    </div>

</body>
</html>
